.reset_form {
	width: 50%;
	height: fit-content;
	border: 5px solid white;
	position: fixed;
	display: flex;
	/* background-color: gray; */
	z-index: 999;
	top: 25%;
	flex-direction: column;
	left: 30%;
	padding: 2rem 2rem 2rem 4rem;
	border-radius: 2rem;; /* Added shadow for better focus */
}

.reset_form h2 {
  font-size: 2rem;
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}

.reset_form > label {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.reset_form > input {
  /* width: 100%; */
  height: 3rem;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  outline: none;
  border: 2px solid white;
  border-radius: 0.5rem;
  background: transparent;
}

.reset_form > input::placeholder {
  color: gray;
}

.reset_form > button {
  width: 30%;
  height: 3.5rem;
  color: white;
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-top: 1.5rem;
  border: 2px solid white;
  background: #000; /* Added background for better visibility */
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.reset_form > button:hover {
  background: white;
  color: black;
  font-weight: 500;
}

.icon {
  color: white;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
}

.blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 100;
}

/* Media Queries for Responsiveness */
/* @media (max-width: 768px) {
  .reset_form {
    width: 70%;
    padding: 1.5rem;
    top: 15%;
  }

  .reset_form h2 {
    font-size: 1.8rem;
  }

  .reset_form > label {
    font-size: 1.2rem;
  }

  .reset_form > input {
    font-size: 1rem;
  }

  .reset_form > button {
    font-size: 1.2rem;
  }

  .icon {
    font-size: 1.3rem;
  }
} */

@media (max-width: 462px) {
  .reset_form {
    width: 90%;
    left: 5%;
    padding: 1rem;
    top: 20%;
  }

  .reset_form h2 {
    font-size: 1.5rem;
  }

  .reset_form > label {
    font-size: 1rem;
  }

  .reset_form > input {
    font-size: 0.9rem;
  }

  .reset_form > button {
    font-size: 1rem;
  }

  .icon {
    font-size: 1rem;
  }
}
