.sign_form {
  width: 50%;
  height: fit-content;
  border: 5px solid white;
  position: fixed;
  display: flex;
  z-index: 999;
  top: 20%;
  flex-direction: column;
  left: 25%;
  padding: 2rem 2rem 2rem 4rem;
  border-radius: 2rem;
}
.sign_form h2 {
  font-size: 2rem;
  text-align: center;
  color: white;
}
.sign_form > label {
  font-size: 2rem;
  color: white;
  margin: 0.5rem 0.5rem 0.5rem 0;
}
.sign_form > input {
  width: 90%;
  height: 8%;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  outline: none;
}
.sign_form > input::placeholder {
  color: gray;
}
.sign_form > button {
  width: 20%;
  height: 10%;
  padding:0.5rem;
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 1rem;
}
.sign_form >button:hover{
  background: white;
  color: black;
  font-weight: 500;
}
.icon {
  color: white;
  cursor: pointer;
  position: absolute;
  right: 10%;
}
.blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 100;
}
.validation {
  margin: 1rem;
}
.valid {
  color: green;
  font-size: 2rem;
}
.invalid {
  color: red;
  font-size: 2rem;
}
.success {
  color: green;
  font-size: 2rem;
}
@media (max-width: 462px) {
  .sign_form {
    width: 80%;
    height: fit-content;
    left: 10%;
  }
  .sign_form >button{
    width: 30%;
    height: 8%;
    padding:0.5rem;
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 1rem;
  }
}
